body
{
    margin: 0;
    padding: 00;
}
/*inicia header*/

.container-menu
{
    background-color: #222123;
}
.menu 
{
    margin-left: 5%;
    padding-top: 0.5%;
    background-color: #262428;
    display: flex;
    padding: 10px;
}
.logo
{
    padding-top: 0.8%;
}
.logo img
{
    width: 100%;
    height: 100%;
}
.categorias
{
    padding-left: 35%;
    padding-top: 30px;
}
nav ul li 
{
        list-style: none;
        margin-left: 15%;
        text-align: center;
}

.categorias nav ul 
{
    display: flex;
}

.categorias nav ul li
{
    color: white;
    margin-right: 3%;
    padding-top: 0.5%;

}

.categorias nav ul li a
{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 8px;
}
.categorias nav ul li a:hover
{
    background-color: #ff5535;
}

/*Cierra header*/

/*Inicia Container*/

.container
{
    margin: 100px;
}

/*Cierra Container*/

/*Footer*/

footer {
    position: relative;
    margin-top: 0px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    clear: both;
    background: #222123;
    text-align: center;
    color: #fff;
}
/*Cierra Footer*/

/*juego (Juan)196*/
/*Inicia login*/
.login {
    text-align: center;
    background: linear-gradient(150deg, rgb(205, 220, 72) 15%, #ffda05 70%, #d17722 94%);
    color: white;
    margin: 3px;
    margin-top: 100px;
    width: 400px;
    margin-left: 550px;
    height: 500px;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    border-radius: 3%;
    -webkit-text-stroke: 1px black;
}

.usser {
    height: 40px;
    width: 300px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 3%;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0);
}

.button {
    height: 60px;
    width: 300px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10%;
    color: white;
    background-color: rgb(164, 37, 37);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
}

.degradado {
    background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
    margin-top: 0px;

    align-items: center;
    color: white;
    min-height: 622px;

}

/*juego (Juan)196*/


































































































/*manuel*/
/*manuel*/
/*BOLETA*/

#sections {
    background-color: rgb(238, 239, 255);
    margin: 6px;
    height: 600px;
    width: 80%;
    margin: 0 auto;
    background-position: center;
}

.conte {
    margin: 0 auto;
    background-position: center;
    display: flex;
}

#sec1 {
    width: 40%;
    display: block;
    margin: 5%;
    background-color: rgba(0, 0, 0, 0.637);
}

form {
    width: 90%;
    background-position: center;
    margin: auto;
}

#sec2 {
    width: 35%;
    height: 450px;
    display: block;
    margin: 5%;
}

.izquierda {
    margin: 5%;
}

.derecha {
    margin: 5%;
}

#caja {
    width: 80%;
    margin: auto;
    background-position: center;
}

form p {
    text-align: justify;
}

#precio {
    width: 150px;
    height: 20px;
    margin: 3px;
}

#total {
    width: 150px;
    height: 20px;
    margin: 13px;
}



#boton {
    margin-top: 5%;
    width: 200px;
    height: 40px;
    margin-left: 23%;
    color: white;
    background-color: rgb(202, 19, 19);
}

#boton:hover {
    background-color: red;
}

/*FACTURACIÓN*/

#sections2 {
    background-color: rgb(238, 239, 255);
    padding: 10px;
    height: 500px;
    width: 70%;
    margin: auto;
}

.conte2 {
    margin: 0 auto;
    background-position: center;
    width: 100%;
    display: block;
}

#sec3 {
    width: 90%;
    display: block;
    margin: 5%;
    margin-top: 2%;
    background-color: rgba(26, 26, 27, 0.973)
}

.contenedor_juego {
    height: 80px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.contenedor_juego #imgx {
    width: 400px;
    padding: 10px;
    width: 10%;
}

.contenedor_juego #descripcion {
    padding: 10px;
    padding-top: 15px;
    width: 70%;
}

.contenedor_juego #tot {
    padding: 5px;
    width: 20%;
}

#sec4 {
    width: 60%;
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
}

.formulario {
    width: 32%;
    padding: 30px;
    margin-left: 30px;
    line-height: 35px;
}

.formulario2 {
    width: 32%;
    padding: 30px;
    margin-right: 30px;
    line-height: 35px;
}

#boton2 {
    margin-top: 15%;
    width: 225px;
    height: 40px;
    color: white;
    background-color: rgb(25, 8, 99);
}

#boton2:hover {
    background-color: rgb(37, 15, 161);
}

#tot #totalx {
    height: 20px;
    margin: 13px;
    width: 60px;
}

input {
    width: 220px;
    height: 25px;
}





