    RewriteEngine On
    RewriteRule ^juego_([0-9]+)?$ index.php?action=viewJuego&juegoId=$1 [L]
    RewriteRule ^categoria_([0-9]+)?$ index.php?action=archive&categoriaId=$1 [L]
    RewriteRule ^compra_juego_([0-9]+)?$ index.php?action=buyJuego&juegoId=$1 [L]

